.ListItem {
  padding-top: 5px;
  padding-bottom: 20px;
  padding-left: 5px;
  border-bottom-color: #333;
  border-bottom-style: dashed;
  border-bottom-width: thin;
  max-height: 100px;
  line-height: 1;
  font-size: smaller;
}

.ListItem img {
  float: left;
  margin-right: 10px;
}

.selected {
  background-color: #7de5ff !important;
  border-right: darkblue double thick;
}

.details {
  padding-top: 5px;
  padding-right: 5px;
  color: #333;
}

.basket {
  background-color: #a9e8a9 !important;
}

.link:hover .ListItem {
  background-color: #c1f8f4;
}

.selected.basket {
  background-color: #70e070 !important;
}

.dead {
  background-color: #a5a6a1;
}
